.board {
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid black;
  gap: 2px;
  padding: 2px;
  background-color: red;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  border: 1px solid grey;
  background: white;
  cursor: pointer;
}

.reset {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}